#header {
    width: 100%;
    height: 100vh;
    background: url(../img/background.jpg) top center;
    background-size: cover;
    position: relative;
    border-bottom: black 6px solid;
  }

#header .header-container {
    position: absolute;
    bottom: 0;
    top: 10em;
    left: 50em;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

#header h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: black;
  }

#header h2 {
    color: black;
    margin-bottom: 50px;
    font-size: 24px;
  }

#header .btn-calculate-your-options {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 50px;
    margin: 10px;
    border: 2px solid black;
    color: black;
  }

#header .btn-calculate-your-options:hover {
    background: black;
    color:white;
    border: 2px solid white;
  }

#quotes {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/money-background.jpg) fixed center center;
    background-size: cover;
    padding: 280px 0;
    border-bottom: black solid 5px;
    border-top: black solid 5px;
    color: white;
  }

.custom-card-img{
    width: 36em;
    height: auto;
}

#calculator{
    width: 100%;
    height: 100vh;
    background: url(../img/wood-background.jpg) top center;
    background-size: cover;
    position: relative;
    border-bottom: black 6px solid;
    text-align: center;
}

#calculator h1 {
    margin: 70px 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: black;
  }

.calculator{
    width: auto;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 37%;
}

#button1 {
    position: absolute;
    top: 635px;
    left: 740px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#button2 {
    position: absolute;
    top: 635px;
    left: 850px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#button3 {
    position: absolute;
    top: 635px;
    left: 960px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#buttonadd {
    position: absolute;
    top: 552px;
    left: 1070px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#button4 {
    position: absolute;
    top: 555px;
    left: 740px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#button5 {
    position: absolute;
    top: 555px;
    left: 850px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#button6 {
    position: absolute;
    top: 555px;
    left: 960px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#button7 {
    position: absolute;
    top: 470px;
    left: 740px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#button8 {
    position: absolute;
    top: 470px;
    left: 850px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#button9 {
    position: absolute;
    top: 470px;
    left: 960px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#buttonsub {
    position: absolute;
    top: 470px;
    left: 1070px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#buttonmul {
    position: absolute;
    top: 385px;
    left: 1070px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#Calc {
    position: absolute;
    top: 640px;
    left: 1067px;
    padding-top: 50px;
    padding-bottom:50px;
    padding-left: 30px;
    padding-right: 30px;
    }

#button0 {
    position: absolute;
    top: 720px;
    left: 760px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 50%;
    }

#buttondiv {
    position: absolute;
    top: 385px;
    left: 960px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    }

#buttondot {
    position: absolute;
    top: 720px;
    left: 960px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50%;
    }

#input {
    position: absolute;
    top: 240px;
    left: 750px;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left: 0px;
    padding-right: 0px;
    }

#numberone {
    position: absolute;
    top: 240px;
    left: 960px;
    padding-top: 0px;
    padding-bottom:0px;
    padding-left: 0px;
    padding-right: 0px;
    }

#results {
    position: absolute;
    top: 292px;
    left: 960px;
    padding-top: 0px;
    padding-bottom:0px;
    padding-left: 0px;
    padding-right: 0px;
    }




#numberone{

}
#results{

}